h1{
    text-align: center;
}

.img-padding{
    padding-top: 10px;
}

.grey-section {
    background-color: #d4d5d6;
}

*{
    font-family: Open Sans;
}

.other-font{
    font-family: Josefin Sans;
}

p{
    padding-left: 20px;
}

h3{
    padding-left: 20px;
}

.overlap{
    text-align: center;
    position: absolute;
    bottom: 50px;
    z-index: 2;
    color: white;
}

.heading-padding{
    padding-left: 200px;
}

h2{
    text-align: center;
}



